@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: arcade;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: arcade;
  src: url("./fonts/ARCADECLASSIC.TTF");
}

.arcade {
  font-family: arcade;
}

.game-section {
  position: relative;
  overflow: hidden;
  width: 100%; /* Set the desired width of your game section */
  height: 100vh; /* Set the desired height of your game section */
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   /* You can use an image as a mask if desired */
  mask-composite: subtract; /* Use 'subtract' to make the outside of the mask invisible */
}
