@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: arcade;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: arcade;
  src: url("./fonts/ARCADECLASSIC.TTF");
}

.arcade {
  font-family: arcade;
}

.game-section {
  position: relative;
  overflow: hidden;
  width: 100%; 
  height: 100vh; 
}

.about {
  word-spacing: 6px;
}

/* Use 'subtract' to make the outside of the mask invisible */
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask-composite: subtract; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Adjust the alpha (last) value for transparency */
  z-index: 999; /* Ensure it appears above other content */
  pointer-events: auto; /* Make it intercept mouse events */
}